.project{
box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}
.projectTitle{
box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.1);
}

.projectIcon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    fill: rgb(10, 10, 10);
}