.main{
    width: 70%;
    background-color: rgb(191, 191, 191);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 90px;
    margin-left: 10px;
    margin-bottom: 30px;
}