.skills{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.skillTitle{
    margin-bottom: 36px;
}

@media (max-width:768px) {
    .tabletContainer{
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: #cecbcb;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.458);
    }

        .skills {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

}
