.sidebar{
    /* background-color: rgb(190, 141, 141); */
    width: 400px;
    display: flex;
    justify-content: center;
}

.sidebarPhoto {
    width: 300px;
    height: auto;

    border-radius: 5px;
}