:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

    background-image: url('../src/Img/background_2.jfif');
    background-size: cover;
    background-position: center;

}


body {
  width:calc(100%-100px);
  min-height: 1400px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  margin: 30px 80px 30px 80px;
  font-family: 'Playfair Display', serif;
  box-shadow: 0px 0px 30px #fff;
}

.container{
display: flex;
flex-direction: column;
box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.1);
padding: 10px;
background-color: #cecbcb;
}

a {
  font-weight: 500;
  color: #0c0c0c;
  text-decoration: inherit;
}
a:hover {
  color: #0a24cd;
}

ul {
  list-style: none;
}

h2{
font-size: 25px;
padding-left: 20px;
background-color: #ffff;
box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.69);
}


svg:hover {
  fill: #0a24cd;
  transform: scale(1.3);
  filter: drop-shadow(7px 7px 1px rgba(0, 0, 0, 0.2));
  padding: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


