.contactsTitle{
    margin-bottom: 36px;
}
.contactsItem:hover .contactsLink,
.contactsItem:focus .contactsLink {
    color: #213adc;
}

.contactsIconPost{
    width: 26px;
    height: 22px;
    fill: currentColor;
    vertical-align:sub;
}
.contactsIconPost:hover{
    transform: none;
    filter: none;
}
.contactsIconTel{
    width: 30px;
    height: 25px;
    fill: currentColor;
}
.contactsIconTel:hover {
    transform: none;
    filter: none;
}
.contactsSocial{
    display: flex;
}
.contactAddress{
    padding-left: 40px;
}
